@import "components/header";
@import "components/footer";
@import "components/projectCard";
@import "components/experience";
@import "components/about";
@import "abstracts/variables";
@import "abstracts/animations";


.container{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.MuiCard-root{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
}

.autoplaySwipeableCarousel{
    height:165px;
    max-width:400px;
    display:block;
    overflow:hidden;
}