@import "components/header";
@import "components/footer";
@import "components/projectCard";
@import "components/experience";
@import "components/about";

@import "abstracts/variables";
@import "abstracts/animations";

@import "custom/gradient-card";

.container{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.MuiCard-root{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3) !important;
    margin:5px;
}

.autoplaySwipeableCarousel{
    max-width:400px;
    display:block;
    overflow:hidden;
}

.CardHeaderCenter{
    text-align:center;
}