@import "header";
@import "footer";
@import "variables";
@import "container";
@import "projectCard";
@import "experience";
@import "animations";
@import "about";

.container{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.MuiCard-root{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
}