.projectsCardContainer{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.projectCard{
    margin-top: 20px;
    padding:20px;
}
.cardHeader{
    &.left{
        text-align: right;
    }
    &.right{
        left:left;
    }
}
.cardDescription{
    text-align: justify;
}
.projectCardCarousel{
    &.right{
        margin-top:-60px;
        float:right;
        margin-left:30px;
    }
    
    &.left{
        margin-top:-60px;
        float:left;
        margin-right:30px;        
    }
}