.projectsCardContainer{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.about{
    overflow:inherit;
}

.projectCard{
    margin-top: 20px;
    padding:20px;
    position:relative;
    transition: box-shadow 0.3s ease-in-out;

    &:hover{
        box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3) !important;
    }

    &.left, &.right {
        .projectCardCarousel{
            opacity: 0;
            animation: fadeIn 0.7s ease forwards;
            animation-delay: 0.5s;
        }
    }
    &.left{
        animation: fromLeftToCenter 0.5s ease forwards;
        
    }

    &.right{
        animation: fromRightToCenter 0.5s ease forwards;
    }
}

.cardHeader{
    &.left{
        text-align: right;
    }
    &.right{
        left:left;
    }
}

.cardDescription{
    text-align: justify;
}

.projectCardCarousel{
    transition: transform 0.5s ease;

    @media (min-width: 768px){
        &.right{
            margin-top:-60px;
            float:right;
            margin-left:30px;
        }
        
        &.left{
            margin-top:-60px;
            float:left;
            margin-right:30px;        
        }
    }
    
    &:hover{
        transform: scale(1.15);
    }
}

@keyframes fromLeftToCenter {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
  }

  @keyframes fromRightToCenter {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity:1;
        
    }
  }