//https://coolors.co/74b3ce-508991-172a3a-004346-09bc8a
$primaryLight:#e2f5f8;
$primaryMain: #258ab3;
$primaryDark: #185a7e;
$secondaryLight: #e1f3eb;
$secondaryMain: #4bbc90;
$secondaryDark: #005029;