.aboutCard{
    .aboutImage{
        width:280px;
        margin:0 10px 10px 10px;
        @media (min-width: 768px){
            float:right;
        }
    }
    .aboutTypo{
        text-align: justify;
    }
}