.experienceCard{
    display:flex;
    flex-direction: row;
    gap:15px;
    @media (max-width: 780px){
        flex-wrap:wrap;
    }
    .coursesCard{
        animation: fadeIn 1.7s ease forwards;
        .courses{
            margin-top:15px;
            display:flex;
            flex-direction: column;
            gap:10px;
            .course{
                display:flex;
                flex-direction: row;
                gap:10px;
                align-items: center;
            }
        }
    }
    .skillsCard{
        @media (min-width: 780px){
            width:520px;
        }

        .skillsContainer{
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
            gap:10px;
        }
    }
}