.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    .logo{
        font-size: 30px;
    }
}
.iconNavigation{
        display:none;
    }

@media (max-width: 810px) {
    .navigation{
        display:none;
    }

    .iconNavigation{
        display:inherit;
    }
  }