#follow-cursor-background-effect{
    background:linear-gradient(to right, aquamarine, mediumpurple) ;
    height:200px;
    aspect-ratio: 1;
    position: absolute;
    left:50%;
    top:50%;
    translate:-50% -50%;
    border-radius:50%;
    animation: rotate 20s infinite;
    filter:blur(100px);
}