.gradient-card{
    position:relative;
    &:after{
        background: linear-gradient(
            transparent,
            mediumslateblue,
            transparent
        );
        height:70px;
        width:1px;

        position:absolute;
        left:1px;
        top:65%;
        content:"";
        transition: top 600ms ease, opacity 600ms ease;
    }
    &:after{
        top:65%;
        opacity:0;
    }
    &:hover:after{
        top:25%;
        opacity:1;
    }
        
}